# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE files
.vscode/
.idea/

# wandb files
wandb/

.asd/

checkpoints/

# don’t commit any of our .pth checkpoints or results
src/models/checkpoints/
src/models/simple_model/*.pth
src/models/results/

*.pth
*.pt

data/*.npz